/* lg */
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

	#home-carousel  .item {
		height: 500px;
	}

	.carousel-caption h1 {
		font-size:26px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-size:51px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}
	#our-team, #pricing, #our-works, #services, #contact{
		padding-top: 110px;
		padding-bottom: 100px;
	}

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

	.st-navbar ul li a{
		margin-left: 13px;
		margin-right: 13px;
	}

	#home-carousel  .item {
		height: 500px;
	}

	.carousel-caption h1 {
		font-size:26px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-size:51px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

	#about-us .about-us {
		padding-left: 0;
		padding-right: 0;
		padding-top: 9%;
	}

	.scroll-up{
		display: none !important;
	}

	#our-team, #pricing, #our-works, #services, #contact{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	#fun-facts .col-md-3:nth-child(2) .fun-fact{
		border-right: 0px;
	}

	#testimonial{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	#about-us .about-us .btn-send {
		margin-top: 12px;
	}



}

/* xs */
@media (max-width: 767px) {

	.logo{
		margin-left: 15px;
	}

	.navbar-nav{
		background-color: #f5f5f5;
	}

	.st-navbar .navbar-collapse ul{
		margin-top: 18px;
	}

	#home-carousel  .item {
		height: 300px;
	}

	.carousel-caption h1 {
		font-size:16px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:100;
	}

	.carousel-caption h2 {
		font-size:31px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

	.scroll-up{
		display: none !important;
	}

	.footer-social-icons {
		text-align: center;
		margin-bottom: 15px;
	}

	.copyright{
		text-align: center;
	}

	#contact{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.contact-info{
		margin-bottom: 50px;
	}

	#fun-facts .fun-fact{
		border-right: 0px;
		/* margin-bottom: 30px; */
	}

	#about-us .our-office{
		padding-left: 0;
		padding-right: 0;
	}

	#testimonial{
		padding-top: 60px;
		padding-bottom: 60px;
	}

	#about-us .about-us {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 10%;
		padding-bottom: 10%;
	}

	#our-team, #pricing, #our-works, #services{
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.st-service {
		margin-top: 50px;
	}

}

/* XS Portrait */
@media (max-width: 479px) {

}

/* iPhone 5/se */
@media (max-width: 320px) {
	#home-carousel .item{
		height: -webkit-fill-available;
	}

	.carousel-caption{
		left: 48px;
		right: 42px;
	}

	.card {
		margin-top: 20px;
	}

	.listSocialMedia {
		width: max-content;
	}

	.listSocialMedia li {
		width: unset;
		float: left;
		margin-right: 5px;
    margin-top: 5px;
	}

	.BoxOne, .BlocoDot{
		margin-top: 20px;
	}

	#app .container {
		background: transparent;
	}

	#app .container .box-radius{
		margin-top: 30px;
	}

	#app .container .box-aviation {
		margin-top: 80px;
	}

	#app .container .box-descrition p{
		top: 0;
	}

	#app .container h6{
		float: none;
	}

	/* #earnings #menu1 .tab-content .content .second-box{
		width: auto;
	} */

	#earnings #menu2 .box-carrer table tbody tr td:first-child{
		background: transparent;
	}

	#earnings #menu3 div{
		padding: 0px;
	}

	#earnings #menu3 div.bold-green{
		margin-top: 20px;
	}

	.section-title h1.accession span.txt{
		margin-left: 0;
		left: 0;
		font-size: 14px;
	}

	.boxLoad{
		margin-top: 60px;
	}

	.section-title h1.accession, .section-title h1.franchise, .section-title h1.contact{
		background-size: 100%;
	}

	.section-title h1.accession img{
		display: none;
	}

	.pt-bg-black p span{
		padding: 0 2px;
	}

	.pt-bg-blue p{
		padding: 0 5px 30px;
	}
}
